<h1>Welcome</h1>
{{#if published}}
{{content}}
{{/if}}

<ul>
  {{#each people}}
  <li>{{this.name}}</li>
  {{/each}}
</ul>

{{reviewQuestion}}
{{#each comments}}<br />
{{this.author}}<br />
{{this.authorComment}}
{{/each}}